%div#search-results

  %h2 Results
  
  - @result_set.properties['schema:significantLink'].each do |bib_resource| 
    %div.search-result
      %h3.title 
        %a{ :href => url("/catalog/#{bib_resource['http://purl.org/library/oclcnum']['@value']}")}= bib_resource['schema:name']
        %span.date-published= bib_resource['schema:datePublished']
      - if bib_resource['schema:author'] 
        %p.author= display_name(bib_resource['schema:author'])
      %p.format
        %span.label Format:
        %span.value= format(bib_resource)
