body {
	font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	color: inherit;
	font-family: inherit;
	font-weight: bold;
/*	margin: 0;*/
	text-rendering: optimizelegibility;
}

h1 { font-size: 2.5em; }
h2 { font-size: 1.75em; }
h3 { font-size: 1.5em; margin-top: 1em; }

.text-right {
	text-align: right;
}

#header {
	margin: 10px 0 0 0;
}

#content-wrapper {
	min-height: 400px;
}

#footer {
	padding: 20px 0;
}

#search-form input {
	border-radius: 4px;
	font-size: 1.5em;
	padding: 4px;
	border: 1px solid #ccc;
}

#search-form button {
	font-size: 1.5em;
	border-radius: 6px;
	/* background-image: -moz-linear-gradient(center top , #fff, #94B8FF); */
	border-color: #ccc;
	border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.25);
	margin: 0px .25em;
}

#search-wrapper {
	border-radius: 6px;
	border: 1px solid #eee;
	padding: 10px 20px;
	margin-bottom: 1em;
}

#search-wrapper p {
  margin-bottom: 0;
}

.record {
	margin-bottom: .5em;
}

.record .title {
	font-size: 1.25em;
}

.record .title a {
	text-decoration: none;
}

.record .series {
	color: #555;
}

#facets {
	padding-left: 0;
}

#facets li {
	list-style: none;
}

#facets li a {
	text-decoration: none;
}

#marc td {
	vertical-align: top;
	background: #fff;
}

#marc td.tag {
	text-align: center;
	color: #226622;
}

#marc td.indicators {
	color: #CC5511;
}

#marc td pre {
	margin: 0;
}

#marc td span.subfield-code {
	color: #225599;
}

.inactive-link {
	color: #777;
}

.search-page-navigation {
	margin-bottom: 1em;
}

.search-page-navigation .numbering {
	text-align: center;
}

.search-page-navigation .next {
	text-align: right;
}

span.label {
	font-weight: bold;
}

#search-results h3.title {
	font-size: 1.35em;
	margin-bottom: .5em;
}

#search-results h3.title a {
	text-decoration: none;
}

#search-results h3.title span.date-published {
	font-weight: normal;
}

.search-result p.author {
	margin-bottom: .5em;
}

#facets ul {
	padding: 0;
}

#facets ul li {
	font-size: 1.1em;
}

.ui-widget-content {
    background: #fff;
    border: 0px;
    color: #333;
}

.ui-accordion-header {
    background: #fff;
    border: 0px;
/*    border-bottom: 1px solid #eee;*/
    color: #06c;
}

.more-section-heading {
    font-size: 1.2em; 
    margin-bottom: 1px;
}

.more-section-description {
    margin-top: 1px;
}

#bibliographic-resource-name {
    border-bottom: 1px dotted #aaa;
    margin-bottom: 2px;
}

#author-name {
    font-size: 1.5em;
}

#author-name a {
    text-decoration: none;
}

#author-name a:hover {
    text-decoration: underline;
}

.ui-widget {
	font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
    font-size: 1em;
}

#availability h2 {
    margin-top: 8px;
}

#more-info h2 {
    margin-bottom: 0;
}

#statement-of-responsibility {
    margin-bottom: .5em;
}

#statement-of-responsibility h2 {
    margin-bottom: 0;
}


